:root {
  --primary-text-color: #212121;
  --white-text-color: #ffffff;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f5f5;
  --section-background-color: #f5f4fa;
  --blok-background-color: #eeeeee;
  --footer-color: #2f303a;
  --border-line: #ececec;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Основний колір фону та тексту */
.page {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
button {
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  cursor: pointer;
}

.picture {
  display: block;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
/* Хедер */
.header {
  border-bottom: 1px solid var(--border-line);
}
.logo,
.logo-footer,
.partlogo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  color: #000000;
}
.logo-footer,
.address-footer {
  color: var(--white-text-color);
}
.partlogo {
  color: var(--accent-color);
}
.logo-container {
  display: flex;
}
/* Хедер Посилання на інші сторінки сайту емейл та телефон */
/* Общий родитель */
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav.unit {
  padding-left: 0;
  margin-left: 93px;
}
.site-nav.panel {
  margin-left: auto;
  padding-left: 0;
}

.site-nav .link {
  display: flex;
  margin-left: auto;

  color: var(--primary-text-color);
}
.site-nav .contact {
  color: var(--title-text-color);
}
.site-nav .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .item:focus,
.site-nav .contact:focus,
.site-nav .contact:hover,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.address-footer:focus,
.address-footer:hover,
.mail-footer:focus,
.mail-footer:hover,
.tel-footer:focus,
.tel-footer:hover {
  color: var(--accent-color);
}

.site-nav .link,
.site-nav .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Hero */
/* Ефективні рішення для вашого бізнесу */

.hero,
.footer {
  background-color: #2f303a;
}

.hero {
  text-align: center;
}

.main-headline {
  color: var(--white-text-color);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.main-button {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.advantage-text {
  line-height: 1.71;
}

.section-advantage {
  padding: 94px 0;
}

.list.advantage {
  display: flex;
}


.advantage .item + .item,
.our-work .item + .item,
.team .item + .item {
  margin-left: 30px;
}
.title-capletters {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Наші роботи */
.list.our-work {
  display: flex;
  flex-direction: row;
}

/* h2  */

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title-text,
.site-nav .contact {
  color: var(--title-text-color);
}

/* Наша команда */

.list.team {
  display: flex;
  flex-direction: row;
}

.section-title.centered {
  text-align: center;
  padding-top: 94px;
  margin-bottom: 50px;
}
.title.centered {
  margin-bottom: 10px;
}

.section-team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.title-people {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team .title-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Приклади робіт */

.section-examples {
  margin: 94px 0;
}

.container-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 34px;
  justify-content: center;
}
.container-filter .item + .item {
  margin-left: 8px;
}

.partners {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.title.examples {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-examples .title-text {
  font-size: 16px;
  line-height: 1.87;
}

.partners-project {
  padding: 19.21px 24px;
}

/* Кнопки в портфоліо фільтр робіт*/

.second-button {
  background-color: var(--section-background-color);
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
}

.second-button:focus,
.second-button:hover {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.address-footer,
.mail-footer,
.tel-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  margin-top: 20px;
}

.address-footer,
.mail-footer {
  margin-bottom: 9px;
}

/* Приховані заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
